.Home-page {
  text-align: center;
}
.Home-page-header {
  background-color: rgb(41, 14, 43);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Logo {
  height: 40vmin;
  pointer-events: none;
}
