@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
  -webkit-background-clip: text;
}

.p-1px {
  padding: 0.0625rem /* 1px */;
}

@font-face {
  font-family: "Roboto";
  /* src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap'); */
}

.container {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1rem /* 24px */;
  line-height: 2rem /* 32px */;
  width: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  max-height: 30rem;

  @apply p-4;
  @apply overflow-y-auto;
  @apply overflow-x-hidden;
  @apply bg-background-purple;
  @apply text-text-color;
  @apply m-0;
  @apply border;
  @apply border-primary-red;
  /* @apply rounded-2xl; */
  @apply shadow-glow-red;
}
