.App {
  text-align: center;
}

.App-books {
  height: 40vmin;
  pointer-events: none;
}

.Question {
  color:rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-books {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(41,14,43);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
}

li {
  background-image: linear-gradient(to right, rgb(219,0,255) , rgb(255,0,31));
  padding: 16px;
  border: 3px solid white;
  border-radius:20px;
  font-size: 20px;
  margin-top: 8px;
}

.MiddleText {
  color:rgb(255, 255, 255);
}

.Questions {
  color:rgb(255, 255, 255);
}
.SpaceForQuestions {
  color:rgb(255, 255, 255);
  text-align: center;
}

.button {
  background-image: linear-gradient(to right, rgb(219,0,255) , rgb(255,0,31));
  padding: 16px;
  border: 3px solid white;
  border-radius:20px;
  font-size: 20px;
  margin-top: 8px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
